
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}


.left-panel {
  flex: 1;
  background: #111;
  background-image: linear-gradient(to bottom, #212121, #31313100), url(https://i.imgur.com/SgrgtmG.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.form-wrapper {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 70px;
}

.form-wrapper h2 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-wrapper p {
  color: #777;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-box {
  width: 60px;
  height: 60px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 0px 5px;
  font-size: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

button {
  padding: 12px;
  background: #6c3bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #5a2ee6;
}
