.App {
  text-align: center;
  font-family: Arial, sans-serif;

  background-color: #f9f9f9;
  display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  color: #333;
  margin-bottom: 2rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
      height: 80vh;
    width: 97vw;
}

.carousel img {
  width: 600px;
  height: 600px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carousel img:hover {
  transform: scale(1.2);
}

button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
